In [1]:
class Mahasiswa:
    def __init__(self, nama, nim):
        self.nama = nama
        self.nim = nim

    def cetak_krs(self):
        print(f"Mahasiswa {self.nama} dengan NIM {self.nim} telah mencetak KRS.")

# Objek
mhs = Mahasiswa("Budi", "2203410023")
mhs.cetak_krs()

Mahasiswa Budi dengan NIM 2203410023 telah mencetak KRS.